* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    color: #1e1c2a;
    background-color: white;
}



.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background-color: #fff;
    transition: all 0.5s;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    padding-top: 5px;
}

.navigation .logo {
    width: 100px;
}

.icones {
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 5px;
}

.navigation ul {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navigation ul li a {
    padding: 20px;
    margin: 0 10px;
    color: #1e1c2a;
    font-size: 19px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: #EA8356;

}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: #1e1c2a;
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background-color: #1e1c2a;
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner {
    display: flex;
    background-color: #ececec;
    padding: 90px 0;

}

#banner img {
    width: 800px;
    padding-left: 50px;
}

.texto-banner {
    padding: 0 50px;
}

.texto-banner h1 {
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 20px;


}

.texto-banner p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 50px;
    line-height: 25px;
}

.texto-banner span1 {
    font-weight: bold;
}

.texto-banner span {
    font-weight: bold;
    color: #EA8356;
}

.texto-banner a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #EA8356;
    padding: 20px;
    border-radius: 10px;
    transition: .5s;
}

.texto-banner a:hover {
    background-color: #3a90c3;
    color: white;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.topicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.conteudo h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.conteudo h3 {
    font-size: 35px;
    margin-top: 40px;
    padding: 0 10%;
}

.conteudo p {
    padding: 20px 12%;
    font-size: 19px;

}

#historia {
    background-color: #ea835673;
}

.historia-incinerador {
    display: flex;
    align-items: center;
}

.historia-incinerador img {
    max-width: 700px;
    margin-right: 25px;
}

.texto-historia {
    display: flex;
    flex-direction: column;
}

.eventos {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex-wrap: wrap;
}

.texto-eventos {
    margin-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.texto-eventos h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.paragrafo-eventos {
    margin-bottom: 15px;
    margin-right: 50px;
    text-align: justify;
    margin-top: 40px;
    font-size: 20px;
}


.evento {
    display: flex;
    align-items: center;
    padding: 3% 9%;
    box-shadow: 0 0.1rem 0.5rem #777777;
    width: 100%;
}

footer {
    background-color: #131216;
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    font-size: 20px;
}

footer a {
    text-decoration: underline;
    color: #ccc;
}

.copy {
    margin-bottom: 25px;
    margin-top: 25px;
}

.redes a {
    padding-right: 100px;
    text-align: center;
}

.map-responsive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-responsive iframe {
    width: 1000%;
}

.calendario {
    width: 100%;
    display: flex;
    align-items: center;
}

.calendario iframe {
    height: 500px;
    width: 100%;
    margin-top: 5px;
}

.lista {
    padding: 20px 13%;
    font-size: 19px;
    list-style: circle;
}
#nossos-apoios{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#nossos-apoios div img{
    max-width: 150px;
    margin:25px;
}
#nossos-apoios div a{
    padding: 25px;
}







@media (max-width:1200px) {


    html {
        width: 100%;
    }

    .navigation {
        padding: 18px 20px;
    }

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #fff;
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    /*main*/
    .home {
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        width: 100%;
    }

    .conteudo,
    .eventos,
    .evento {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .conteudo img,
    .conteudo p {
        width: 100%;
        font-size: 18px;
    }

    #banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #banner .text-h1 {
        font-size: 15px;
    }

    #banner p {
        font-size: 18px;
    }

    #banner img {
        width: 100%;
    }

    .historia-incinerador {
        flex-direction: column;
        width: 100%;

    }

    .historia-incinerador h3 {
        text-align: center;
    }

    .eventos h3,
    .eventos p {
        flex-direction: column;
        width: 100%;
    }

    .evento h3,
    .evento p {
        flex-direction: column;
        width: 100%;
    }

    .evento {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
    }

    .evento img {
        width: 100%;
        margin-left: 0;
    }

    .texto-eventos {
        text-align: center;
        margin-left: 0;
    }
    #nossos-apoios div img{
        width: 100%;
    }

}